﻿@model FA.Project.Model.Request

@{
    ViewData["Title"] = "Create";
}

<h1>Create Request</h1>
<hr />

<div class="row">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Requesttype" class="control-label"></label>
                    @*<select asp-for="Requesttype" class="form-control"></select>*@
                    <select asp-for="Requesttype" class="form-control" asp-items="@Html.GetEnumSelectList<FA.Project.Model.Request.RequestType>()"></select>
                    <span asp-validation-for="Requesttype" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ComimmingTime" class="control-label"></label>
                    <input asp-for="ComimmingTime" class="form-control" />
                    <span asp-validation-for="ComimmingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpectedApproval" class="control-label"></label>
                    <input asp-for="ExpectedApproval" class="form-control" />
                    <span asp-validation-for="ExpectedApproval" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TraineeId" class="control-label"></label>
                    <select asp-for="TraineeId" class="form-control" asp-items="ViewBag.TraineeId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-area="Admin" asp-controller="Requests3" asp-action="Index">
                        <input type="button" value="Cancel" class="btn btn-secondary" asp-action="Index" />
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Reason" class="control-label"></label>
                    <input asp-for="Reason" class="form-control" />
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeavingTime" class="control-label"></label>
                    <input asp-for="LeavingTime" class="form-control" />
                    <span asp-validation-for="LeavingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApprovedTime" class="control-label"></label>
                    <input asp-for="ApprovedTime" class="form-control" />
                    <span asp-validation-for="ApprovedTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApproverId" class="control-label"></label>
                    <select asp-for="ApproverId" class="form-control" asp-items="ViewBag.ClassAdminId"></select>
                    @*<input asp-for="ApproverId" class="form-control" />
                        <span asp-validation-for="ApproverId" class="text-danger"></span>*@
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
