﻿@model FA.Project.Model.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details Request</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requesttype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requesttype)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComimmingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComimmingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeavingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedApproval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedApproval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditTrail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditTrail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isDelete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainee.Account)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApproverId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApproverId)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Requests3" asp-action="Edit" asp-route-id="@Model.RequestId">
        <input type="button" value="Edit" class="btn btn-primary" />
    </a>
    <a asp-area="Admin" asp-controller="Requests3" asp-action="Delete" asp-route-id="@Model.RequestId">
        <input type="button" value="Delete" class="btn btn-danger" />
    </a>
    <a asp-area="Admin" asp-controller="Requests3" asp-action="Index">
        <input type="button" value="Back" class="btn btn-secondary" />
    </a>
</div>
