﻿@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <style>
        body {
            /* Margin bottom by footer height */
            background-image: url(./a1.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <h1>
        Welcome
    </h1>
</body>
</html>