﻿@model FA.Project.Model.Trainee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Trainee</h1>
<h3>Are you sure you want to delete this?</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ExternalEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExternalEmail)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Faculty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Faculty)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Level)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AuditTrail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AuditTrail)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.FamilyPhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FamilyPhoneNumber)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Account)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Account)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Remarks)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Skill)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Skill)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.CV)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CV)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.OnboardDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OnboardDate)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.University)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.University)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ForeignLanguage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ForeignLanguage)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AllocationStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AllocationStatus)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TraineeId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-area="Admin" asp-controller="Trainees1" asp-action="Index">
            <input type="button" value="Cancel" class="btn btn-secondary" asp-action="Index" />
        </a>
    </form>
</div>
